<div class="web-action-form">
  <h1>{{nombre}}</h1>
  <hr>

  <form (ngSubmit)="onSubmit($event)" [formGroup]="formulario">
    <div class="error-msg" *ngIf="($error | async) != ''">
      <span style="text-align: center; color: red"><h4>× {{$error | async}} ×</h4></span>
      <br>
    </div>
    
    <div *ngFor="let campoFormulario of formulario.controls | keyvalue; let i = index">
      <input type="{{camposByNombre.get(campoFormulario.key)?.tipo == 'TEXTO' ? 'text' : 'number'}}"
             class="form-control"
             [ngClass]="{'form-control-disabled': ($loading | async) == true}"
             placeholder="{{splitNombreCamelCaseEnEspacios(campoFormulario.key)}}"
             autofocus>
      <br>
    </div>

    <br><hr>

    <button type="submit"
            class="btn btn-success webaction-form-button"
            [ngClass]="{'disabled': ($loading | async) == true}">
      <div *ngIf="($loading | async) == false"> ✓ {{getNombreBoton(nombre)}} ✓</div>
      <div *ngIf="($loading | async) == true">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </button>

  </form>
</div>
