body {
  background-color: #f7f8fb !important;
  box-sizing: border-box;
}

.webaction-form {
  margin-top: 1.5%;
  margin-left: 2%;
  width: 75%;
}

.green {
  color: green;
}

.red {
  color: red;
}

.centered-mycontainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 3%;
}

.dif-container {
  border-radius: 2%;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 #666;
}

.webaction-form-button {
  width: 100%;
}
